<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 		
 			<!-- Configure Our Bean classes Here -->
 			<bean id="addr" class="com.trio.praveen.Address">
 			<property name="city" value="Prakasam"></property>
 			<property name="pinCode" value="523326"></property>
 			<property name="country" value="India"></property>
 			</bean>
 			<bean id="student" class="com.trio.praveen.Student">
 				<property name="sid" value="1240"></property>
 				<property name="sname" value="Praveen"></property>
 				<property name="address" ref="addr"></property>
 			</bean>
 			
</beans>